<section class="font-mono uppercase  text-center text-green-500 w-full">
  <h1 class="text-4xl font-bold">Donek</h1>
  <p>Create better databases and tables by creating data dictionaries</p>
</section>

<section class="row">
  <article class="column">
    <h2>Data Dictionary</h2>
    <p>
      <a href="/new_table_definition">New Table Definition</a>
    </p>
    </article>
    </section>

